{% block content %}
  <div class="border-bottom pb-8">
    <div class="container">
      <div class="align-items-end row">
        {% for card in page.header.cards %}
          <a class="col-6 pb-4" href="{{ card.link|e }}">
            <div class="row">
              <div class="col-10">
                <div class="bg-center bg-cover mb-2 {{ card.image_ratio|e }}" style="background-image: url('{{ page.media[card.image].url|e }}');"></div>
                <div class="mh-0-md mh-25 ps-0-sm ps-4">
                  <h4 class="fs-3 mb-2" {% if card.header_colour %} style="color: {{ card.header_colour|e }};" {% endif %}>{{ card.header|e }}</h4>
                  <ul>
                    {% for service in card.services %}
                      <li class="d-inline-block text-delimiter text-nowrap">{{ service.text|e }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
