<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
  <link rel="canonical" href="{{ page.canonical(true)|e }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="me" href="https://mastodon.social/@martonlente">
{% endblock head %}

{% block stylesheets %}
  {% do assets.addCss('theme://node_modules/reset-css/reset.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('theme://lib/hamburgers/dist/hamburgers.min.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('theme://baseutil-css/build/baseutil.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('theme://fonts/nimbus-mono-fontfacekit/web fonts/nimbusmono_regular_macroman/stylesheet.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('theme://fonts/nimbus-sans-l-fontfacekit/web fonts/nimbussansl_bold_macroman/stylesheet.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('theme://fonts/nimbus-sans-l-fontfacekit/web fonts/nimbussansl_regular_macroman/stylesheet.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('https://use.fontawesome.com/releases/v5.13.1/css/all.css?v=2.0.0-alpha.1') %}
  {% do assets.addCss('theme://css-compiled/custom.css?v=2.0.0-alpha.1') %}
{% endblock %}

<script>
  // Create variable themeUrl for js
  var themeUrl = '{{ theme_url }}';
</script>

{% block javascripts %}
  {% do assets.addJs('jquery', 101) %}
  {% do assets.addJs('theme://node_modules/imagesloaded/imagesloaded.pkgd.min.js?v=2.0.0-alpha.1', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/isotope-layout/dist/isotope.pkgd.min.js?v=2.0.0-alpha.1', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/jquery-smooth-scroll/jquery.smooth-scroll.min.js?v=2.0.0-alpha.1', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/svg-injector/dist/svg-injector.min.js?v=2.0.0-alpha.1', {'group':'bottom'}) %}
  {% do assets.addJs('theme://js/app.js?v=2.0.0-alpha.1', {'group':'bottom'}) %}
{% endblock %}

{% block assets deferred %}
  {{ assets.css()|raw }}
  {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
  <header class="backdrop-filter-blur js-header position-fixed start-0 top-0 w-100 z-index-10000" style="background-image: url('{{ url('theme://images/asset-bg-noise-2x-opacity-10.png')|e }}');">
    <div class="bg-secondary pt-1">
      <div class="row">
        <div class="col-12">
          <p class="grey-98">
            The website is under development.
          </p>
        </div>
      </div>
    </div>
    <div class="container position-relative">
    <div class="h-8-xs h-10-lg h-12 row">
      <div class="align-items-center col-4 col-8-md d-flex">
        <a class="lh-1" href="{{ home_url|e }}">
          <img class="d-block h-4-xs h-5-lg h-7 js-img-logo mb-0 position-absolute" src="{{ url('theme://images/marton-lente-logo-2022-v0-1-0.svg')|e }}" alt="Márton Lente logo primary">
          <img class="d-block h-4-xs h-5-lg h-7 mb-0" src="{{ url('theme://images/marton-lente-logo-primary-m-period.svg')|e }}" alt="Márton Lente logo primary M period">
        </a>
      </div>
      <div class="col-4-md col-8 d-flex flex-column justify-content-center">
        <div class="d-flex flex-column h-4-xs h-5-lg h-7 h-auto-md justify-content-end">
          {% block header_navigation %}
            <nav class="d-none-md">
              {% include 'partials/navigation.html.twig' %}
            </nav>
          {% endblock %}
          <div class="d-flex justify-content-end">
            <button class="d-flex-md d-none hamburger hamburger--spin js-btn-nav-md pb-0 pe-0 ps-0 pt-0" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
  <div class="bg-white d-flex-md d-none h-0 js-nav-md nav-md opacity-0 overflow-y-hidden position-fixed start-0 top-13-xs top-16 w-100 z-index-10000">
    <div class="mix-blend-mode-multiply opacity-10 w-100"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
    <nav class="d-flex flex-column justify-content-center nav-md-inner position-absolute start-0 top-0 w-100">
      {% include 'partials/navigation_md.html.twig' %}
    </nav>
  </div>
{% endblock %}

{% block body %}
  <main class="bg-white" id="main">
    {# Element '.h-6' is needed when notice bar is active #}
    <div class="h-6"></div>
    <div class="h-8-xs h-10-lg h-12"></div>
    {% block hero %}{% endblock %}
    {% block content %}{% endblock %}
    <div class="bottom-3 end-3 position-fixed z-index-1">
      <div class="js-end-zone-helper js-end-zone-helper-transition">
        <a class="d-block js-link-anchor js-link-top lh-1" href="#main">
          <img alt="" class="d-block h-8 mb-0" src="{{ url('theme://images/asset-period-gradient.svg') }}">
        </a>
      </div>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' with {'page': page.find('/footer')} %}
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
