<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
  <link rel="canonical" href="{{ page.canonical(true)|e }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="me" href="https://mastodon.social/@martonlente">
{% endblock head %}

{% block stylesheets %}
  {% do assets.addCss('theme://node_modules/reset-css/reset.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('theme://lib/hamburgers/dist/hamburgers.min.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('theme://baseutil-css/build/baseutil.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('theme://fonts/nimbus-mono-fontfacekit/web fonts/nimbusmono_regular_macroman/stylesheet.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('theme://fonts/nimbus-sans-l-fontfacekit/web fonts/nimbussansl_bold_macroman/stylesheet.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('theme://fonts/nimbus-sans-l-fontfacekit/web fonts/nimbussansl_regular_macroman/stylesheet.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css?v=2.0.0.beta.3') %}
  {% do assets.addCss('theme://css-compiled/custom.css?v=2.0.0.beta.3') %}
{% endblock %}

<script>
  // Create variable themeUrl for js
  var themeUrl = '{{ theme_url }}';
</script>

{% block javascripts %}
  {% do assets.addJs('jquery', 101) %}
  {% do assets.addJs('theme://node_modules/imagesloaded/imagesloaded.pkgd.min.js?v=2.0.0.beta.3', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/isotope-layout/dist/isotope.pkgd.min.js?v=2.0.0.beta.3', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/jquery-smooth-scroll/jquery.smooth-scroll.min.js?v=2.0.0.beta.3', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/svg-injector/dist/svg-injector.min.js?v=2.0.0.beta.3', {'group':'bottom'}) %}
  {% do assets.addJs('theme://js/app.js?v=2.0.0.beta.3', {'group':'bottom'}) %}
{% endblock %}

{% block assets deferred %}
  {{ assets.css()|raw }}
  {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
  {% include 'header.html.twig' with {'page': page.find('/header')} %}
{% endblock %}

{% block body %}
  <main class="bg-white" id="main">
    {# Element '.h-6' is needed when notice bar is active #}
    <div class="h-6"></div>
    <div class="h-8-xs h-10-lg h-12"></div>
    {% block hero %}{% endblock %}
    {% block content %}{% endblock %}
    <div class="bottom-3 end-3 position-fixed z-index-1">
      <div class="js-end-zone-helper js-end-zone-helper-transition">
        <a class="d-block js-link-anchor js-link-top lh-1" href="#main">
          <img alt="" class="d-block h-8 mb-0" src="{{ url('theme://images/asset-period-gradient.svg') }}">
        </a>
      </div>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' with {'page': page.find('/footer')} %}
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
