<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://node_modules/reset-css/reset.css', 100) %}
    {% do assets.addCss('theme://lib/hamburgers/dist/hamburgers.min.css', 99) %}
    {% do assets.addCss('theme://lib/baseutil-css/build/baseutil.css', 98) %}
    {% do assets.addCss('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap', 97) %}
    {% do assets.addCss('theme://fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css', 96) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 95) %}
    {% do assets.addCss('theme://css-compiled/custom.css', 94) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://node_modules/bluroverlay.js/dist/bluroverlay.min.js', {'priority':99, 'group':'bottom'}) %}
    {% do assets.addJs('theme://node_modules/svg-injector/dist/svg-injector.min.js', {'priority':98, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.site.js', {'priority':97, 'group':'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
    <!--
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ home_url|e }}">
                <i class="fa fa-rebel"></i>
                {{ config.site.title|e }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
    -->
    <div class="h-8-xs h-10-lg h-12 js-bluroverlay position-fixed w-100"></div>
    <div class="h-8-xs h-10-lg h-12 mix-blend-mode-multiply opacity-10 position-fixed start-0 top-0 w-100 z-index-10000"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
    <header class="position-fixed start-0 top-0 w-100 z-index-10000">
      <div class="container position-relative">
        <div class="h-8-xs h-10-lg h-12 row">
            <div class="align-items-center col-4 col-8-md d-flex">
                <a class="lh-1" href="/">
                    <img class="d-block h-4-xs h-5-lg h-7 mb-0" src="{{ url('theme://images/marton-lente-logo-primary.svg')|e }}" alt="Márton Lente logo primary">
                </a>
            </div>
            <div class="col-4-md col-8 d-flex flex-column justify-content-center">
                <div class="d-flex flex-column h-4-xs h-5-lg h-7 h-auto-md justify-content-end">
                    <nav class="d-none-md">
                        <ul class="d-flex justify-content-end mb-0">
                            <li class="fs-7-lg lh-1 list-style-none ms-3"><a class="primary" href="#">Brand design</a></li>
                            <li class="fs-7-lg lh-1 list-style-none ms-3"><a class="primary" href="#">Development</a></li>
                            <li class="fs-7-lg lh-1 list-style-none ms-3"><a class="primary" href="#">Work</a></li>
                            <li class="fs-7-lg lh-1 list-style-none ms-3"><a class="primary" href="#">About</a></li>
                            <li class="fs-7-lg lh-1 list-style-none ms-3"><a class="primary" href="#">Contact</a></li>
                            <li class="fs-7-lg lh-1 list-style-none ms-3"><a class="primary" href="#">Blog</a></li>
                        </ul>
                    </nav>
                    <div class="d-flex justify-content-end">
                        <button class="d-flex-md d-none hamburger hamburger--spin js-btn-nav-md pb-0 pe-0 ps-0 pt-0" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </header>
    <div class="bg-white d-flex-md d-none h-0 js-nav-md nav-md opacity-0 position-fixed start-0 top-8-xs top-10 w-100 z-index-10000">
        <div class="mix-blend-mode-multiply opacity-10 w-100"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
        <nav class="d-flex flex-column justify-content-center nav-md-inner position-absolute start-0 top-0 w-100">
            <ul class="w-100">
                <li class="list-style-none mb-3 text-center"><a class="fs-3 primary" href=#>Brand design</a></li>
                <li class="list-style-none mb-3 text-center"><a class="fs-3 primary" href=#>Development</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <main>
          <div class="js-bluroverlay-back">
              <div class="h-8-xs h-10-lg h-12"></div>
              <section class="mb-6">
                  <div class="bg-gradient d-flex flex-column h-54 justify-content-center">
                      <div class="h-54 mix-blend-mode-multiply opacity-20 position-absolute w-100" style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
                      <div class="container position-relative">
                          <div class="row">
                              <div class="col-1"></div>
                              <div class="col-10">
                                  <div class="fs-7 grey-98 letter-spacing-lg mb-3 text-uppercase">Blog</div>
                                  <h1 class="grey-98 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim</h1>
                              </div>
                              <div class="col-1"></div>
                          </div>
                      </div>
                  </div>
              </section>
              {% block content %}{% endblock %}
          </div>
          <div class="bottom-3 end-3 position-fixed">
              <a class="d-block js-link-top lh-1" href="#">
                  <img alt="" class="d-block fill-primary h-8 js-svg-injector-item mb-0" src="{{ url('theme://images/asset-period.svg') }}">
              </a>
          </div>
    </main>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p><a href="https://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="https://trilby.media">Trilby Media, LLC</a>.</p>
        </div>
    </div>
    <footer>
        <div class="position-relative">
            <div class="h-8 mix-blend-mode-multiply opacity-10 position-absolute w-100"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
            <div class="container position-relative">
                <div class="h-8 row">
                    <div class="col-9 col-9-md d-flex justify-content-center flex-column">
                        <div>
                            <span class="fs-7-lg me-1-5">Copyright © 2021 Márton Lente</span>
                            <a href="#" target="_blank" class="me-1-5 primary"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="me-1-5 primary"><i class="fa fa-github"></i></a><a href="#" target="_blank" class="me-1-5 primary"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="align-items-end col-3 col-3-md d-flex fs-7-lg justify-content-center flex-column">
                        <a class="primary" href="#">Privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
