<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
  <link rel="canonical" href="{{ page.canonical(true)|e }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% endblock head %}

{% block stylesheets %}
  {% do assets.addCss('theme://node_modules/reset-css/reset.css') %}
  {% do assets.addCss('theme://lib/hamburgers/dist/hamburgers.min.css') %}
  {% do assets.addCss('theme://lib/baseutil-css/build/baseutil.css') %}
  {% do assets.addCss('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap') %}
  {% do assets.addCss('theme://fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css') %}
  {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') %}
  {% do assets.addCss('theme://css-compiled/custom.css') %}
{% endblock %}

{% block javascripts %}
  {% do assets.addJs('jquery', 101) %}
  {% do assets.addJs('theme://node_modules/bluroverlay.js/dist/bluroverlay.min.js', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/isotope-layout/dist/isotope.pkgd.min.js', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/jquery-smooth-scroll/jquery.smooth-scroll.min.js', {'group':'bottom'}) %}
  {% do assets.addJs('theme://node_modules/svg-injector/dist/svg-injector.min.js', {'group':'bottom'}) %}
  {% do assets.addJs('theme://js/jquery.site.js', {'group':'bottom'}) %}
{% endblock %}

{% block assets deferred %}
  {{ assets.css()|raw }}
  {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
  <div class="h-8-xs h-10-lg h-12 js-bluroverlay position-fixed w-100"></div>
  <div class="h-8-xs h-10-lg h-12 mix-blend-mode-multiply opacity-10 position-fixed start-0 top-0 w-100 z-index-10000"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
  <header class="position-fixed start-0 top-0 w-100 z-index-10000">
    <div class="container position-relative">
    <div class="h-8-xs h-10-lg h-12 row">
      <div class="align-items-center col-4 col-8-md d-flex">
        <a class="lh-1" href="{{ home_url|e }}">
          <img class="d-block h-4-xs h-5-lg h-7 js-img-logo mb-0 position-absolute" src="{{ url('theme://images/marton-lente-logo-primary.svg')|e }}" alt="Márton Lente logo primary">
          <img class="d-block h-4-xs h-5-lg h-7 mb-0" src="{{ url('theme://images/marton-lente-logo-primary-m-period.svg')|e }}" alt="Márton Lente logo primary M period">
        </a>
      </div>
      <div class="col-4-md col-8 d-flex flex-column justify-content-center">
        <div class="d-flex flex-column h-4-xs h-5-lg h-7 h-auto-md justify-content-end">
          {% block header_navigation %}
            <nav class="d-none-md">
              {% include 'partials/navigation.html.twig' %}
            </nav>
          {% endblock %}
          <div class="d-flex justify-content-end">
            <button class="d-flex-md d-none hamburger hamburger--spin js-btn-nav-md pb-0 pe-0 ps-0 pt-0" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
  <div class="bg-white d-flex-md d-none js-nav-md nav-md opacity-0 position-fixed start-0 top-8-xs top-10 w-100 z-index-10000">
    <div class="mix-blend-mode-multiply opacity-10 w-100"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
    <nav class="d-flex flex-column justify-content-center nav-md-inner position-absolute start-0 top-0 w-100">
      <ul class="w-100">
        <li class="list-style-none mb-3 text-center"><a class="fs-3 primary" href=#>Brand design</a></li>
        <li class="list-style-none mb-3 text-center"><a class="fs-3 primary" href=#>Development</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block body %}
  <main>
    <div class="js-bluroverlay-back">
      <div class="h-8-xs h-10-lg h-12"></div>
      {% block hero %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div class="bottom-3 end-3 position-fixed z-index-1">
      <a class="d-block js-link-top lh-1" href="#">
        <img alt="" class="d-block fill-primary h-8 js-svg-injector-item mb-0" src="{{ url('theme://images/asset-period.svg') }}">
      </a>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' with {'page': page.find('/footer')} %}
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
