<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://node_modules/reset-css/reset.css', 100) %}
    {% do assets.addCss('theme://lib/baseutil-css/build/baseutil.css', 99) %}
    {% do assets.addCss('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap', 98) %}
    {% do assets.addCss('theme://fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css', 97) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 96) %}
    {% do assets.addCss('theme://css-compiled/custom.css', 95) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://node_modules/svg-injector/dist/svg-injector.min.js', {'priority':99, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.site.js', {'priority':98, 'group':'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ home_url|e }}">
                <i class="fa fa-rebel"></i>
                {{ config.site.title|e }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
    <header>
      <div class="container">
        <div class="h-12 row">
            <div class="align-items-center col-4 d-flex">
                <a class="lh-1" href="/">
                    <img class="d-block h-7 mb-0" src="{{ url('theme://images/marton-lente-logo-primary.svg')|e }}" alt="Márton Lente logo primary">
                </a>
            </div>
            <div class="col-8 d-flex flex-column justify-content-end pb-2">
                <nav>
                    <ul class="d-flex justify-content-end">
                      <li class="list-style-none ms-3"><a class="primary" href="#">Brand design</a></li>
                      <li class="list-style-none ms-3"><a class="primary" href="#">Development</a></li>
                      <li class="list-style-none ms-3"><a class="primary" href="#">Work</a></li>
                      <li class="list-style-none ms-3"><a class="primary" href="#">About</a></li>
                      <li class="list-style-none ms-3"><a class="primary" href="#">Contact</a></li>
                      <li class="list-style-none ms-3"><a class="primary" href="#">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
    <main>
        <section class="mb-6">
            <div class="bg-gradient d-flex flex-column h-54 justify-content-center">
              <div class="h-54 mix-blend-mode-multiply opacity-20 position-absolute w-100" style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
              <div class="container position-relative">
                  <div class="row">
                      <div class="col-1"></div>
                      <div class="col-10">
                          <div class="fs-7 grey-98 letter-spacing-lg mb-3 text-uppercase">Blog</div>
                          <h1 class="grey-98 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim</h1>
                      </div>
                      <div class="col-1"></div>
                  </div>
              </div>
            </div>
        </section>
        <div class="bottom-3 end-3 position-fixed">
          <a class="d-block js-link-top lh-1" href="#">
            <img alt="" class="d-block h-8 js-svg-injector-item mb-0" src="{{ url('theme://images/asset-period.svg') }}">
          </a>
        </div>
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p><a href="https://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="https://trilby.media">Trilby Media, LLC</a>.</p>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
