<section class="mb-6">
  <div class="bg-gradient d-flex flex-column h-54 justify-content-center">
    <div class="h-54 mix-blend-mode-multiply opacity-20 position-absolute w-100" style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="fs-7 grey-98 letter-spacing-lg mb-3 text-uppercase">
            {% if page.header.hero_title %}
              {{ page.header.hero_title|e }}
            {% else %}
              Blog • {{ page.date|date("Y. m. d.")|e }}
            {% endif %}
          </div>
          {% if page.header.hero_text %}
            <h1 class="fs-2-md fs-3-xs grey-98 mb-0">{{ page.header.hero_text|e }}</h1>
          {% else %}
            <h1 class="fs-2-md fs-3-xs grey-98 mb-3">{{ page.title|e }}</h1>
          {% endif %}
          {% if page.header.subtitle %}
            <h2 class="fs-3-md grey-70 mb-0-md mb-3">{{ page.header.subtitle|e }}</h2>
          {% endif %}
          {% if page.taxonomy.tag %}
            <div class="d-none-md">
              {% for tag in page.taxonomy.tag %}
                <span class="grey-60 text-delimiter text-nowrap">{{ tag|e }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</section>
