{% extends 'partials/base.html.twig' %}

{% block hero %}
  {% include 'partials/hero.html.twig' %}
{% endblock %}
{% block content %}
  {% for module in page.collection() %}
    {{ module.content|raw }}
  {% endfor %}
  <div>
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <ul>
            {% for p in page.find('/blog').collection|slice(0, 3) %}
              <li class="list-style-none mb-3"><a class="align-items-center d-flex fs-3 fw-bold grey-60" href="{{ p.url|e }}"><span class="me-1">{{ p.title|e }}</span><img alt="" class="fill-grey-60 h-3 js-svg-injector-item mb-0" src="{{ url('theme://images/ic_fluent_arrow_right_24_filled.svg')|e }}"></a></li>
            {% endfor %}
            <li class="list-style-none"><a class="align-items-center d-flex fs-3 fw-bold" href="/blog"><span class="me-1">Read more</span><img alt="" class="fill-secondary h-3 js-svg-injector-item mb-0" src="{{ url('theme://images/ic_fluent_arrow_right_24_filled.svg')|e }}"></a></li>
          </ul>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
{% endblock %}
