{% block content %}
  <section {% if page.header.background_noise == 1 %}class="bg-grey-98" style="background-image: url('{{ url('theme://images/asset-bg-noise-2x-opacity-10.png')|e }}');"{% endif %} {% if page.header.id %}id="{{ page.header.id|e }}"{% endif %}>
    <div class="container pb-5 {% if page.header.padding_top == 1 %}pt-6{% endif %}">
      <div class="pb-2 row">
        <div class="col-12">
          <h3 class="fs-7 letter-spacing-lg mb-3 text-uppercase">{{ page.header.subtitle|e }}</h3>
          <h2>{{ page.header.heading|e }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          {{ page.content|raw }}
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </section>
{% endblock %}
