<footer class="js-footer">
  <div class="bg-white position-relative">
    <div class="container position-relative">
      <div class="h-9 h-15-sm row">
        <div class="col-12-sm"></div>
        <div class="col-9 col-9-md col-12-sm d-flex justify-content-center flex-column">
          <div class="d-flex flex-wrap justify-content-center-sm">
            <span class="fs-7-lg me-0-sm me-1-5 text-nowrap">{{ page.header.copyright_text|e }}</span>
            {% for link_social in page.header.link_socials %}
              <a href="{{ link_social.link|e }}" target="_blank" class="d-none-sm me-1-5 primary"><i class="{{ link_social.icon|e }}"></i></a>
            {% endfor %}
          </div>
          <div class="fs-7-lg grey-60 text-center-sm">
            Open-source: <i class="fa fa-heart"></i> <a class="grey-60 text-nowrap" href="https://github.com/martonlente/grav-theme-martonlente.git" target="_blank">Grav theme martonlente v<span>2.0.0.beta</span></a>
          </div>
        </div>
        <div class="col-12-sm d-flex-sm d-none flex-column justify-content-center">
          <div class="text-center">
            {% for link_social in page.header.link_socials %}
            <a href="{{ link_social.link|e }}" target="_blank" class="me-1-5 primary"><i class="{{ link_social.icon|e }}"></i></a>
            {% endfor %}
          </div>
        </div>
        <div class="col-3 col-3-md col-12-sm d-flex fs-7-lg justify-content-center-sm justify-content-end flex-column-sm pt-0-md pt-1-5">
          <span class="d-none-sm">
            {% if page.media|first.url %}
              <a class="primary" href="{{ page.media|first.url|e }}" target="_blank">Privacy policy</a>
            {% endif %}
          </span>
        </div>
        <div class="col-12-sm"></div>
      </div>
    </div>
  </div>
</footer>
