<footer class="js-footer">
  <div class="bg-grey-98 position-relative">
    <div class="h-8 h-15-sm mix-blend-mode-multiply opacity-10 position-absolute w-100"  style="background-image: url('{{ url('theme://images/asset-bg-noise-2x.png')|e }}');"></div>
    <div class="container position-relative">
      <div class="h-8 h-15-sm row">
        <div class="col-12-sm"></div>
        <div class="col-9 col-9-md col-12-sm d-flex justify-content-center flex-column">
          <div class="d-flex flex-wrap justify-content-center-sm">
            <span class="fs-7-lg me-1-5 text-nowrap">{{ page.header.copyright_text|e }}</span>
            <span class="fs-7-lg grey-60 me-1-5">v<span>1.0.0-alpha.8</span></span>
            <span class="d-none-sm me-1-5">
              {% for link_social in page.header.link_socials %}
                <a href="{{ link_social.link|e }}" target="_blank" class="me-1-5 primary"><i class="{{ link_social.icon|e }}"></i></a>
              {% endfor %}
            </span>
          </div>
        </div>
        <div class="col-12-sm d-flex-sm d-none flex-column justify-content-center">
          <div class="text-center">
            {% for link_social in page.header.link_socials %}
              <a href="{{ link_social.link|e }}" target="_blank" class="me-1-5 primary"><i class="{{ link_social.icon|e }}"></i></a>
            {% endfor %}
          </div>
        </div>
        <div class="align-items-center col-3 col-3-md col-12-sm d-flex fs-7-lg justify-content-center-sm justify-content-end flex-column-sm">
          {% if page.media|first.url %}
            <a class="me-1-5 primary" href="{{ page.media|first.url|e }}" target="_blank">Privacy policy</a>
          {% endif %}
        </div>
        <div class="col-12-sm"></div>
      </div>
    </div>
  </div>
</footer>
