{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="border-bottom pb-9 pt-9">
    <div class="h-6"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="fs-lg text-uppercase">
            <strong>I'm a designer and developer from Budapest,</strong> currently working<br>
            full-time <a class="border-bottom" href="#" target="_blank">at Blender.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="h-5"></div>
  </section>
  <section class="border-bottom pb-9 pt-9">
    <div class="h-3"></div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="fs-1 mb-2">About</h2>
          <p class="fs-3">
            For the past 10 years I've been working on brand design and web development projects, <strong>helping mainly architecture and cultural related initiatives.</strong> Part-time I assist in ongoing projects for select clients. Learn more <a class="text-decoration-underline" href="#">about me.</a>
          </p>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <img class="w-100" src="{{ url('theme://images/marton-lente-half-figure-about-min.jpg')|e }}">
        <div class="col-2"></div>
      </div>
      <div class="h-2"></div>
    </div>
  </section>
  <section class="border-bottom pb-9 pt-9">
    <div class="row pb-9">
      <div class="col-12">
        <ul>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Brand consulting</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Logo design</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Identity design</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Web consulting</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Web UX design</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Web UI design</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Front-end development</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Email signature development</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Baseutil CSS</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">WordPress dev</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Grav CMS dev</li>
          <li class="d-inline fs-3 text-delimiter text-uppercase">Perch CMS dev</li>
        </ul>
      </div>
      <div class="h-3"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="fs-1 mb-2">Brand design</h3>
          <p class="fs-3">
            I build strong perceptions of brands by doing brand design, and web design on a strategic manner. I help define and visualize the message, that resonate with the audience.
          </p>
        </div>
        <div class="col-6 pt-9">
          <h3 class="fs-1 mb-2">Development</h3>
          <p class="fs-3">
            I do front-end, and CMS web development of bespoke websites, web apps, and webshops. I develop custom solutions running on WordPress, Grav or Perch. <strong>I am the author of <a class="border-bottom" href="#" target="_blank">Baseutil CSS,</a></strong> an open-source web typography framework for designers.
          </p>
        </div>
      </div>
    </div>
    <div class="h-2"></div>
  </section>
  <section class="border-bottom pb-9 pt-9">
    <div class="h-3"></div>
    <div class="container pb-1">
      <div class="pb-7 row">
        <div class="col-6">
          <h3 class="fs-1 mb-2">Clients & partners</h3>
          <p class="fs-3">
            I have worked mainly with <strong>architecture and design related studios, and organizations where design has a critical importance</strong> since I started my business in 2016.
          </p>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-6 js-svg-injector-item" src="{{ url('theme://images/logos/3h-epitesziroda-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">3h építésziroda Kft.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-12 js-svg-injector-item" src="{{ url('theme://images/logos/kortars-epiteszeti-kozpont-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">Kortárs Építészeti Központ Alapítvány</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-6 js-svg-injector-item" src="{{ url('theme://images/logos/loffice-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">LOFFICE Kft.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-6 js-svg-injector-item" src="{{ url('theme://images/logos/madilancos-studio-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">MádiLáncos Studio Kft.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-9 js-svg-injector-item" src="{{ url('theme://images/logos/pi-hun-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">PI-HUN Kft.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-9 js-svg-injector-item" src="{{ url('theme://images/logos/pont-colab-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">PONTcolab Kft.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-12 js-svg-injector-item" src="{{ url('theme://images/logos/studio-a4-iroda-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">Studio A4 Iroda Kft.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-12 js-svg-injector-item" src="{{ url('theme://images/logos/studio-in-ex-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">STUDIO IN-EX Zrt.</h4>
        </div>
        <div class="col-4 col-6-md col-12-xs pb-8">
          <div class="align-items-center d-flex h-12 mb-3">
            <img alt="" class="fill-grey-60 h-9 js-svg-injector-item" src="{{ url('theme://images/logos/tc2-logo-fill.svg')|e }}">
          </div>
          <h4 class="font-sans-serif fs-6 grey-60 text-center text-transform-none">Total Felhő Kft.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 grey-60 pb-2">
          <p class="text-end">— and other award-winning companies.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="border-bottom pb-9 pt-9">
    <div class="h-3"></div>
    <div class="container pb-1">
      <div class="pb-3 row">
        <div class="col-6">
          <h3 class="fs-1 mb-2">Blog</h3>
          <p class="fs-3">
            I publish case studies, ideas, and insights into my workflow, within the creative fields of brand design, development, and visualization.
          </p>
        </div>
        <div class="col-6"></div>
      </div>
      <div class=" row">
        <div class="col-1"></div>
        <div class="col-11">
          <ul>
            <li class="d-block mb-2">
              <a class="fs-3 text-decoration-underline" href="#">Using multiple machines efficiently as a designer and developer ></a>
            </li>
            <li class="d-block mb-2">
              <a class="fs-3 text-decoration-underline" href="#">Introducing an open-source creative software ecosystem for professional graphic design on Linux – Part 2 ></a>
            </li>
            <li class="d-block mb-2">
              <a class="fs-3 text-decoration-underline" href="#">Introducing an open-source creative software ecosystem for professional graphic design on Linux – Part 1 ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="border-bottom pb-8 pt-9">
    <div class="h-3"></div>
    <div class="container">
      <div class="pb-4 row">
        <div class="col-6">
          <h3 class="fs-1 mb-2">Work</h3>
          <p class="fs-3">
            I publish some of my recent works in <strong>brand design, visualization, web design, and web development.</strong> <a class="text-decoration-underline" href="#">View more.</a>
          </p>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="align-items-end row">
        <a class="col-6 pb-4" href="/work/studio-in-ex-branding-and-web-apps-development">
          <div class="row">
            <div class="col-10">
              <div class="bg-center bg-cover mb-2 ratio-16x9" style="background-image: url('{{ url('theme://images/work/studio-in-ex-branding-mockup-posters-2022-2023.jpg')|e }}');"></div>
              <div class="mh-0-md mh-25 ps-4">
                <h4 class="fs-3 mb-2" style="color: #0d182d;">STUDIO IN-EX branding and web apps development</h4>
                <ul>
                  <li class="d-inline-block text-delimiter text-nowrap">Brand design</li>
                  <li class="d-inline-block text-delimiter text-nowrap">Web design</li>
                  <li class="d-inline-block text-delimiter text-nowrap">Front-end development</li>
                  <li class="d-inline-block text-delimiter text-nowrap">CMS development</li>
                </ul>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </a>
        <a class="col-6 pb-4" href="/work/pi-hun-brand-design-web-design-and-development">
          <div class="row">
            <div class="col-10">
              <div class="bg-center bg-cover mb-2 ratio-1x1" style="background-image: url('{{ url('theme://images/work/pi-hun-branding-logo-design.jpg')|e }}');"></div>
              <div class="mh-0-md mh-25 ps-4">
                <h4 class="fs-3 mb-2" style="color: #015a4f;">PI-HUN brand design, web design, and development</h4>
                <ul>
                  <li class="d-inline-block text-delimiter text-nowrap">Brand design</li>
                  <li class="d-inline-block text-delimiter text-nowrap">Web design</li>
                  <li class="d-inline-block text-delimiter text-nowrap">Front-end development</li>
                  <li class="d-inline-block text-delimiter text-nowrap">CMS development</li>
                </ul>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </a>
      </div>
    </div>
  </section>
    <section class="border-bottom pb-9 pt-9">
    <div class="h-3"></div>
    <div class="container pb-2">
      <div class="row">
        <div class="col-6">
          <h3 class="fs-1 mb-2">Contact</h3>
          <p class="fs-3">
            I am currently busy working on existing projects for Q1, 2024.<br>
            For other enquiries, <strong>write me at</strong> <a class="border-bottom" href=""mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#097;&#114;&#116;&#111;&#110;&#108;&#101;&#110;&#116;&#101;&#046;&#099;&#111;&#109;>&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#097;&#114;&#116;&#111;&#110;&#108;&#101;&#110;&#116;&#101;&#046;&#099;&#111;&#109;</a>!
          </p>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </section>
{% endblock %}
